Binaries/
Installer/
AudioFiles/
Expansions/
Presets/
Samples/
PooledResources/
Compiled/
*build
*dev
*.hxi
*.hxp
*.hr*
*.ch*
*.run
._*
.DS_Store
payload/vst3
payload/clap
payload/lv2
payload/standalone
expansion_info.xml
icon_template.svg
expansion_info.xml